.login-form {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

    .login-form h2 {
        text-align: center;
    }

    .login-form input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

        .login-form input[type="submit"] {
            background-color: #333;
            color: white;
            border: none;
            cursor: pointer;
        }
